{% extends 'base.html' %}
{% load bootstrap_icons %}
{% load static %}
{% block extrahead %}
	<link rel="stylesheet" href="{% static 'theblog/profile.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}


{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	
</body>
</html>


<body>
	<!-- Profile Picture management -->
	<div class = "all">
	<div class="profile_info">
		<div class = 'row justify-content-center mt-5'>
			<div class="card shadow-sm col border-bottom px-5 pt-3">
				<div class = "card-header" style="width: 532px; position: relative; right: 50px;top:-16px">Profile</div>
				<img src="{{ profile.picture.url }}" class = "rounded-circle" width = "100" height="100">
				{% if profile.name %}
					<h3 class = 'py-4'> <b>{{ profile.user.username }}</b>
						<span>
							{% if request.user == user %}
								<a href="{% url 'edit-profile' profile.pk %}" style="color:#333; border: solid 1px; position:relative; left: 10px; border-radius: 30%">{% bs_icon 'brush' %}</a>
							{% endif %}
						</span>
					</h3>
				{% else %}
					<h3>{{ user.username }}
						{% if request.user == user %}
							<a href="{% url 'edit-profile' profile.pk %}" style="color:#333">Create Profile</a>
						{% endif %}
					</h3>
				{% endif %}

				<h4 class = 'py-3'><b>Contact: </b>{{ profile.user.email }}</h4>
				


				{% if profile.birthday %}
				<h4 class = 'py-3'><b>Bithday: </b>{{ profile.birthday }}
				{% endif %}

				{% if profile.location %}
				<h4 class="py-3" ><b>Country: </b>{{ profile.location }}</h4>
				{% endif %}

				{% if profile.bio %}
				<h4 class="py-3"><b>Bio: </b>{{ profile.bio }}</h4>
				{% endif %}

				<div class = 'mb-3'>
					<h4 class="py-3"><b>Followers: </b> {{ profile.follower_count }}</h4>
					{% if request.user.is_authenticated %}
						{% if user != request.user %}
							{% if is_following == True %}
								<form method="POST" action = "{% url 'remove-follower' profile.pk %}">
									{% csrf_token %}
									<button class = 'btn btn-danger btn-sm'>Unfollow</button>
								</form>
								
							{% else %}
								<form method="POST" action = "{% url 'add-follower' profile.pk %}">
									{% csrf_token %}
									<button class = 'btn btn-success btn-sm'>Follow</button>
								</form>
							{% endif %}
						{% endif %}
					{% endif %}
				</div>

			</div>
		</div>

		<div class = 'socials'>

			<div class="card mb-3" style="width: 532px; position: relative; right: 16px; top: 35px;">
				<div class="card-header">Socials</div>
				<div class="card-body">
					<ul class="list-group list-group-flush">
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h5 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-globe mr-2 icon-inline"><circle cx="12" cy="12" r="10"></circle><line x1="2" y1="12" x2="22" y2="12"></line><path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path></svg>Website</h5>
                    <span class="text-secondary">{% if profile.website %}<a href="{{ profile.website }}" target="_blank" style="color:gray;">{{ profile.website }}</a>{% else %}
                    <a href="{% url 'edit-profile' profile.pk %}" style="color:grey;">Add one!</a>{% endif %}</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h5 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github mr-2 icon-inline"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg>Github</h5>
                    <span class="text-secondary">{% if profile.GitHub %}<a href="{{ profile.GitHub }}" target="_blank" style="color:gray;">{{ profile.GitHub }}</a>% else %<a href="{% url 'edit-profile' profile.pk %}">Add one!</a>{% endif %}</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h5 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-twitter mr-2 icon-inline text-info"><path d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"></path></svg>Twitter</h5>
                    <span class="text-secondary">{% if profile.Twitter %}<a href="{{ profile.Twitter }}" target="_blank" style="color:gray;">{{ profile.Twitter }}</a>{% endif %}</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h5 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-instagram mr-2 icon-inline text-danger"><rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line></svg>Instagram</h5>
                    <span class="text-secondary">{% if profile.Instagram %}<a href="{{ profile.Instagram }}" target="_blank" style="color: gray;">{{ profile.Instagram }}</a>{% endif %}</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h5 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-facebook mr-2 icon-inline text-primary"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path></svg>Facebook</h5>
                    <span class="text-secondary">{% if profile.FaceBook %}<a href="{{ profile.FaceBook }}" style="color:gray;">{{ profile.FaceBook }}</a>{% endif %}</span>
                  </li>
                </ul>
				</div>
			</div>
	</div>
</h4>
</div>
	<div class = 'shadow-sm post_section' style="border-radius: 4px;">
		<div class = 'card-header' style="position: relative; top: -30px; width: 800px; right: 30px;">Posts</div>
		{% for post in posts %}
			<a href="{% url 'article-detail' post.pk %}">{{ post.title }}</a>
			{% if request.user == post.author %}<a href="{% url 'update-article' post.pk %}">(Edit)</a>{% endif %}

			<p><a style = 'text-decoration: none' class = 'text-primary' href="{% url 'profile' post.author.profile.pk %}">{{ post.author }}</a></p>
			<p>{{ post.date_published }}</p>
			<hr>

		{% endfor %}	
	</div>

<!--
	<div class = 'post_section'>
		{% for post in posts %}
			<div class = 'row justify-content-center mt-5'>
				<div class = 'col-md-8 col-sm-12 border-bottom'>
					<div class = 'postition-relative'>
						<a href="{% url 'article-detail' post.pk %}">{{ post.title }}</a>
						{% if request.user == post.author %}<a href="{% url 'update-article' post.pk %}">(Edit)</a>{% endif %}
					</div>
					<p><a style = 'text-decoration: none' class = 'text-primary' href="{% url 'profile' post.author.profile.pk %}">{{ post.author }} </a></p>
					<p>{{ post.date_published }}</p>
				</div>
			</div> 
		{% endfor %}
	</div>
-->
</div>
</div>
</body>


{% endblock %}